.iconic {
    padding:0;
    font-size:1rem;
    margin-bottom:5px;
    text-align:center;
}

.nameDiv {
    margin-bottom: 0.1rem;
    font-size: 1.8rem;
}

.devDiv {
    font-weight: 400;
    opacity: 0.7;
    font-size: 1.3rem;
}

.thisIcon {
    font-size: 2.4rem;
    margin: 9px;
    color: #333;
    transition: color .3s;
}

.thisIcon:hover {
    color: #dcdcdc;
}

.contact {
    font-weight: 300;
    font-size: 1.3rem;
}

.HeaderTopic {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
}

.pictureProfile {
    width: 250px;
    height: 250px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 125px;
    border: 2px #333 solid;
    margin-bottom: 20px;
    display: inline-block;
    background-position: center;
    background-position-y: -15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pIntro {
    font-size: 1.3rem;
    font-weight: 400;
    text-indent: 1.5rem;
}

.projectText {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.skillText {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.subText {
    font-size: 1.3rem;
    margin-top: 5px;
}

.subText a {
    text-decoration: none;
    color: #fff;
}

.pProject {
    font-size: 1.2rem;
    text-indent: 1.2rem;
}

.divpProject {
    padding: 15px;
    text-align: left;
}

.divpProject p {
    opacity: 0.8;
}

.clipExam {
    width: 560px;
    height: 315px;
}

.imgExample {
    width: 600px;
    margin-bottom: 10px;
}

.skillP {
    text-align: center;
    font-size: 1.2rem;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
    .nameDiv {
        font-size: 1.7rem;
    }
    .devDiv {
        font-size: 0.9rem;
    }
    .thisIcon {
        font-size: 1.7rem;
    }
    .contact {
        font-size: 0.8rem;
    }
    .HeaderTopic {
        font-size: 1.8rem;
    }
    .pictureProfile {
        width: 140px;
        height: 140px;
        margin-bottom: 2px;
    }
    .pIntro {
        font-size: .87rem;
    }
    .projectText {
        font-size: 1.15rem;
    }
    .subText {
        font-size: .87rem;
    }
    .pProject {
        font-size: 0.85rem;
    }
    .clipExam {
        width: 280px;
        height: 160px;
    }
    .imgExample {
        width: 280px;
        margin-bottom: 10px;
    }
    .skillText {
        font-size: 1.2rem;
    }
    .skillP {
        font-size: 0.8rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .nameDiv {
        font-size: 3rem;
    }
    .devDiv {
        font-size: 1.7rem;
    }
    .thisIcon {
        font-size: 3.6rem;
    }
    .contact {
        font-size: 1.9rem;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1025px) {

    .nameDiv {
        font-size: 2.5rem;
    }
    .devDiv {
        font-size: 1.5rem;
    }
    .thisIcon {
        font-size: 2.6rem;
    }
    .contact {
        font-size: 1.1rem;
    }
    .pictureProfile {
        margin-top: 15px;
        width: 220px;
        height: 220px;
    }
    .HeaderTopic {
        font-size: 2.2rem;
    }
    .pIntro {
        font-size: 1.2rem;
    }
    .projectText {
        font-size: 1.6rem;
    }
    .subText {
        font-size: 1.2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}